.para{
    margin-left: 800px;
}

.new{
    padding-left: 200px;
}

.new1{
    padding-left: 200px;
}
.new2{
   border-radius: 20px;
}

/* .demo{
    margin-left: 200px;
    margin-top: 300px;
} */
.demo1{
    height: 500px;
}